<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Spendly</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Spendly.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <ul class="navbar-nav me-auto">
            @if (User.Identity!.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Expense" asp-action="Index">
                        My Expenses
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
                        Dashboard
                    </a>
                </li>
            }
        </ul>
        <ul class="navbar-nav ms-auto">
            @if (User.Identity!.IsAuthenticated)
            {
                <li class="nav-item">
                    <span class="nav-link text-muted">
                        @User.Identity.Name
                    </span>
                </li>
                <li class="nav-item">
                    <form asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit" class="btn btn-sm btn-outline-danger ms-2">
                            Logout
                        </button>
                    </form>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                </li>
            }
        </ul>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - Spendly - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
